<div class="sidebar-nav sidebar--nav">
  <div class="sidebar-nav-body">
    <div class="side-menu-close">
      <i class="la la-times"></i>
    </div>
    <!-- Fermeture du menu -->
    <div class="author-content">
      <div class="d-flex align-items-center">
        <div class="author-img avatar-sm">
          <img src="assets/images/team9.jpg" alt="Image administrateur" />
        </div>
        <div class="author-bio">
          <h4 class="author__title">AZANTEREPOPI-KB</h4>
          <span class="author__meta">Bienvenue dans l'admin</span>
        </div>
      </div>
    </div>
    <div class="sidebar-menu-wrap">
      <ul class="sidebar-menu toggle-menu list-items">
        <!-- Tableau de bord -->
        <li class="page-active">
          <a routerLink=""
            ><i class="la la-dashboard me-2"></i>Tableau de bord</a
          >
        </li>
        <!-- Marque -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-cog me-2 text-color-1"></i>Marques</a
          >
          <ul class="toggle-drop-menu">
            <li><a routerLink="add-marque">Ajouter une marque</a></li>
            <li><a routerLink="list-marques">Liste des marques</a></li>
          </ul>
        </li>
        <!-- Marque -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-list me-2 text-color-2"></i>Models</a
          >
          <ul class="toggle-drop-menu">
            <li><a routerLink="add-model">Ajouter un model</a></li>
            <li><a routerLink="list-models">Liste des models</a></li>
          </ul>
        </li>
        <!-- Voitures -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-car me-2 text-color-2"></i>Voitures</a
          >
          <ul class="toggle-drop-menu">
            <li><a routerLink="add-car">Ajouter une voiture</a></li>
            <li><a routerLink="list-cars">Liste des voitures</a></li>
          </ul>
        </li>
        <!-- Type -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"><i class="la la-car me-2 text-color-2"></i>Types</a>
          <ul class="toggle-drop-menu">

            <li><a routerLink="add-type">Ajouter un type</a></li>
            <li><a routerLink="list-types">Liste des types</a></li>

          </ul>
        </li>
        <!-- Réservations -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-shopping-cart me-2 text-color-3"></i>Réservations</a
          >
          <ul class="toggle-drop-menu">
            <li><a routerLink="add-reservation">Créer une réservation</a></li>
            <li><a routerLink="list-reservations">Liste des réservations</a></li>
          </ul>
        </li>
        <!-- Clients -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-users me-2 text-color-4"></i>Clients</a
          >
          <ul class="toggle-drop-menu">
            <li><a routerLink="add-client">Ajouter un client</a></li>
            <li><a routerLink="list-clients">Liste des clients</a></li>
          </ul>
        </li>
        <!-- Finances -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-area-chart me-2 text-color-5"></i>Finances</a
          >
          <ul class="toggle-drop-menu">
            <li><a href="admin-factures.html">Factures</a></li>
            <li><a href="admin-paiements.html">Paiements</a></li>
            <li><a href="admin-abonnements.html">Abonnements</a></li>
          </ul>
        </li>
        <!-- Localisations -->
        <li>
          <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
          </span>
          <a href="#"
            ><i class="la la-map-signs me-2 text-color-6"></i>Localisations</a
          >
          <ul class="toggle-drop-menu">
            <li><a href="admin-agences.html">Agences</a></li>
            <li><a href="admin-villes.html">Villes</a></li>
          </ul>
        </li>
        <!-- Avis -->
        <li>
          <a href="admin-avis.html"
            ><i class="la la-star me-2 text-color-7"></i>Avis</a
          >
        </li>
        <!-- Paramètres -->
        <li>
          <a href="admin-parametres.html"
            ><i class="la la-cog me-2 text-color-8"></i>Paramètres</a
          >
        </li>
        <!-- Déconnexion -->
        <li>
          <a href="index.html"
            ><i class="la la-power-off me-2 text-color-9"></i>Déconnexion</a
          >
        </li>
      </ul>
    </div>
    <!-- Fin sidebar-menu-wrap -->
  </div>
</div>
